<mat-form-field fxFlex>
    <input type="text" placeholder="Менеджер" aria-label="Manager" matInput [(ngModel)]="manager" name="manager"
           [matAutocomplete]="auto" (ngModelChange)="_filter()" (focus)="_filter()">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions" [value]="option">
            <img class="option-img" aria-hidden
                 [src]="option.teamCard.photo.links.squared_thumbnail_64 | safeResourceUrl" height="25">
            <span>{{option.teamCard.firstName}} {{option.teamCard.lastName}}</span> |
            <small>{{option.teamCard.team}}</small>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>