<mat-card>
    <app-media-objects-tabs [mediaObjects]="realty.mediaObjects"></app-media-objects-tabs>
    <mat-card-content>
        <p>
            {{realty.category}} {{realty.rooms | rooms}} <span class="mutted">{{realty.area}} кв.м. /
                <ng-container
                        *ngIf="full && realty.description.balconyArea">{{realty.description.balconyArea}} кв.м.</ng-container>
            </span>
        </p>
        <app-address-card [address]="realty.address" [show]="full ? 'flat' : 'tiny'">
            {{realty.floor}} этаж /
        </app-address-card>
        <p>{{features()}}</p>
        <p>
            <b>Цена: {{realty.price || 0 | currency: 'RUB':'symbol':'4.0-0'}}</b>
            <span *ngIf="realty.area"> ({{realty.price/realty.area | currency: 'RUB':'symbol':'4.0-0'}}/м2)</span>
        </p>
        <p>
            {{realty.updatedAt | date:'short' }} {{status}}
            <span *ngIf="realty.exclusive">🔐</span>
            <span *ngIf="realty.hiddenInfo?.haggle">🙏</span>
            <span *ngIf="realty.fee">💰{{realty.fee | currency: 'RUB':'symbol':'4.0-0'}}</span>
        </p>
        <div *ngIf="full">
            <p>Последний раз обновлялся
                {{realty.updatedUser.teamCard?.firstName || realty.updatedUser.name?.firstName}}
            </p>
            <p>{{realty.description.text}}</p>
            <div *ngIf="realty.hiddenInfo as info">
                <ul>
                    <li>{{realty.cadastralNumber}}, кв. {{info.flat || 'хз'}}, подъезд {{info.entrance || 'не указан'}}
                    </li>
                    <li *ngIf="info.maternalCapital">Использовался ли МСК при покупке/гашении ипотеки</li>
                    <li *ngIf="info.shareProperty">Долевая собственность</li>
                    <li *ngIf="info.ownershipLessThan3years">В собственности менне 3х лет</li>
                    <li>{{info.note}}</li>
                </ul>
            </div>
            <div *ngIf="realty.owner">
                <div><b>{{realty.owner.name}}</b></div>
                <app-phone [phone]="realty.owner.phone"></app-phone>
            </div>
            <app-team-card [teamCard]="realty.manager?.teamCard" [small]="true"></app-team-card>
        </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between end">
        <button mat-icon-button>
            <mat-icon>favorite_border</mat-icon>
        </button>
        <button mat-button>ПОДРОБНЕЕ</button>
    </mat-card-actions>
</mat-card>
