<form #realtyForm="ngForm" *ngIf="realty">
    <mat-form-field>
        <mat-select placeholder="Категория" [(ngModel)]="realty.category" name="category">
            <mat-option *ngFor="let item of categories" [value]="item">
                {{item}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <app-address-form [(address)]="realty.address"></app-address-form>
    <app-details-form [(realty)]="realty"></app-details-form>


    <pre>{{realtyForm.value | json}}</pre>
    <h1>MODEL</h1>
    <pre>{{realty | json}}</pre>
</form>