<form #realtyForm="ngForm" *ngIf="realty">
    <mat-form-field>
        <mat-select placeholder="Категория" [(ngModel)]="realty.category" name="category">
            <mat-option *ngFor="let item of categories" [value]="item">
                {{item}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <app-address-form [(address)]="realty.address"></app-address-form>
    <app-details-form [realty]="realty"></app-details-form>

    <mat-form-field fxFlexAlign="stretch">
        <input matInput placeholder="Кадастровый номер" [(ngModel)]="realty.cadastralNumber"
               name="cadastralNumber">
    </mat-form-field>

    <app-hidden-info-form [hiddenInfo]="realty.hiddenInfo"></app-hidden-info-form>

    <div ngModelGroup="owner" #ownerGroup="ngModelGroup" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex>
                <app-owner-autocomplete [(owner)]="realty.owner" (value)="ownerFilterValue($event)">
                </app-owner-autocomplete>
            </div>
            <button mat-icon-button (click)="filterByOwner()">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>
        <mat-form-field>
            <input matInput placeholder="Владелец" [(ngModel)]="realty.owner.name" name="name" required>
        </mat-form-field>
        <app-phone-form [phone]="realty.owner.phone"></app-phone-form>
    </div>
    <app-media-object-form [mediaObjects]="realty.mediaObjects"></app-media-object-form>
    <app-manager-autocomplete-form [(manager)]="realty.manager"></app-manager-autocomplete-form>

    <mat-form-field>
        <mat-select placeholder="Статус" [(ngModel)]="realty.status" name="status">
            <mat-option *ngFor="let item of statuses" [value]="item" [disabled]="item === 'Активно' && !realty.manager">
                {{item}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="realty.exclusive" name="exclusive">Эксклюзив</mat-checkbox>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5%">
        <mat-form-field fxFlex.gt-xs="47">
            <input matInput placeholder="Price" [(ngModel)]="realty.price" name="price" type="number">
            <span matSuffix>.00₽</span>
            <mat-hint>{{realty.price | currency: 'RUB':'symbol':'4.0-0'}}</mat-hint>
        </mat-form-field>

        <ng-container ngModelGroup="hiddenInfo" #hiddenInfoGroup="ngModelGroup">
            <mat-form-field fxFlex.gt-xs="47">
                <input matInput placeholder="Комиссия" [(ngModel)]="realty.hiddenInfo.fee" name="fee"
                       pattern="^((?!(0))|(\d+(\.|\,)))\d+%?$">
            </mat-form-field>
        </ng-container>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="end end">
        <mat-form-field fxFlex.gt-xs="47">
            <input matInput placeholder="Комиссия в рублях"
                   [value]="countedFee | currency: 'RUB':'symbol':'4.0-0'" disabled>
            <span matSuffix>.00₽</span>
        </mat-form-field>
    </div>

    <div>
        <button mat-button (click)="resetForm()" *ngIf="!realty['@id']">Очистить</button>
        <span fxFlex></span>
        <button mat-button color="primary" [disabled]="realtyForm.invalid" (click)="onSubmit(realtyForm)">Сохранить</button>
    </div>

    <!--<pre>{{realtyForm.value | json}}</pre>-->
    <!--<h1>MODEL</h1>-->
    <!--<pre>{{realty | json}}</pre>-->
</form>