<app-realty-filter-form></app-realty-filter-form>
<div [class.grid-container]="(cols$ | async) != 1">
    <h1 class="mat-h1">Квартиры</h1>
    <mat-grid-list [cols]="cols$ | async" rowHeight="1:1.5">
        <mat-grid-tile *ngFor="let realty of realty$ | async" class="grid-tile">
            <mat-grid-tile-header>
                <div fxLayout="column" fxLayoutAlign="center start" fxFlex>
                    <span>{{realty.address.street}}, {{realty.address.number}}
                    <ng-container *ngIf="realty.address.name">, ({{realty.address.name}})</ng-container></span>
                    <div>{{realty.address.district}}</div>
                </div>
                <button mat-icon-button [routerLink]="['/', { outlets: { side: ['show', realty.id] } }]">
                    <mat-icon>info</mat-icon>
                </button>
            </mat-grid-tile-header>
            <app-realty-card [realty]="realty"></app-realty-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>