<div [class.grid-container]="!(isHandset$ | async)">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list [cols]="(isHandset$ | async) ? 1 : 4" rowHeight="1:1.7">
        <mat-grid-tile *ngFor="let realty of realty$ | async" class="grid-tile">
            <mat-grid-tile-header fxLayout="column">
                <span>{{realty.address.street}}, {{realty.address.number}}</span>
                <span *ngIf="realty.address.name">, ({{realty.address.name}})</span>
                <div>{{realty.address.district}}</div>
            </mat-grid-tile-header>
            <app-realty-card [realty]="realty"></app-realty-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>