:host /deep/ .side .mat-tab-labels {
  padding-top: 16px;
}

:host /deep/ .side .mat-tab-header {
  position: sticky;
  top: 0;
  z-index: 9;
}

:host /deep/ .side .mat-tab-label {
  min-width: 70px;
}