<mat-tab-group backgroundColor="accent" class="side" [selectedIndex]="selected"
               (selectedIndexChange)="selected = $event">
    <mat-tab label="Новости"> ТУТ БУДУТ НОВОСТИ ИЗ ИНСТАГРАМА</mat-tab>
    <mat-tab label="Просмотр" *ngIf="(realty$ | async) as realty">
        <app-realty-card [realty]="realty" [full]="true"></app-realty-card>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Изменить
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <app-realty-form [realty]="realty"></app-realty-form>
            </ng-template>

        </mat-expansion-panel>

        <span></span>
    </mat-tab>
    <mat-tab label="NEW">
        <app-realty-form></app-realty-form>
    </mat-tab>
</mat-tab-group>