.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.side {
  width: 400px;
}

.sideFull {
  width: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 9;
}

.mat-progress-bar {
  position: absolute;
  top: 0;
  z-index: 10;
}

.logoBtn.full {
  padding: 5px;
  width: 250px;
  line-height: 0;
}

.logoBtn {
  min-width: 50px;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.sideCloseBtn {
  position: absolute;
  z-index: 9;
  top: 14px;
  right: 3px;
}

//.sideToggleBtn {
//  position: absolute;
//  z-index: 9;
//  top: 3px;
//  -webkit-animation-duration: 0.3s; /* Safari 4.0 - 8.0 */
//  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
//  animation-duration: 0.3s;
//  animation-fill-mode: forwards;
//}
//
//.sideToggleBtn.open {
//  -webkit-animation-name: exampleOpen; /* Safari 4.0 - 8.0 */
//  animation-name: exampleOpen;
//}
//
//.sideToggleBtn.close {
//  -webkit-animation-name: exampleClose; /* Safari 4.0 - 8.0 */
//  animation-name: exampleClose;
//}
//
//@-webkit-keyframes exampleOpen {
//  from {
//    right: 0;
//  }
//  to {
//    right: 370px;
//  }
//}
//
//@keyframes exampleOpen {
//  from {
//    right: 0;
//  }
//  to {
//    right: 370px;
//  }
//}
//
//@-webkit-keyframes exampleClose {
//  from {
//    right: 370px
//  }
//  to {
//    right: 0;
//  }
//}
//
//@keyframes exampleClose {
//  from {
//    right: 370px
//  }
//  to {
//    right: 0;
//  }
//}
//
//@media (max-width: 600px) {
//  @-webkit-keyframes exampleOpen {
//    from {
//      right: 0;
//    }
//    to {
//      right: 10px;
//    }
//  }
//
//  @keyframes exampleOpen {
//    from {
//      right: 0;
//    }
//    to {
//      right: 10px;
//    }
//  }
//}