<mat-progress-bar *ngIf="loadState$ | async" mode="indeterminate" color="accent"></mat-progress-bar>
<button mat-icon-button [routerLink]="[{ outlets: { side: null } }]"
        *ngIf="side.opened" class="sideCloseBtn">
    <mat-icon>close</mat-icon>
</button>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
            #drawer
            class="sidenav"
            fixedInViewport="true"
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset$ | async) ? 'over' : 'side'">
        <mat-toolbar color="primary">Меню</mat-toolbar>
        <mat-nav-list *ngFor="let link of navLinks">
            <a mat-list-item [routerLink]="link.path" (click)="drawer.close()">{{link.label}}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav #side position="end" [class.sideFull]="isHandset$ | async" [class.side]="!(isHandset$ | async)"
                 fixedInViewport="true"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" class="mat-elevation-z6"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'" (openedChange)="onSideOpenedChange($event)">
        <router-outlet name="side" (activate)='side.open()' (deactivate)='side.close()'></router-outlet>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <button mat-button routerLink="/" class="logoBtn" [class.full]="!(isHandset$ | async)">
                <app-logo [color]="'white'" [full]="!(isHandset$ | async)"></app-logo>
            </button>
            <span fxFlex></span>
            <ng-container *ngTemplateOutlet="userNav"></ng-container>
            <button mat-icon-button [routerLink]="[{ outlets: { side: side.opened ? null : ['show'] } }]"
                    color="accent">
                <mat-icon>{{side.opened ? 'arrow_right': 'arrow_left'}}</mat-icon>
            </button>
        </mat-toolbar>
        <nav mat-tab-nav-bar (selectedIndexChange)="selected = $event" *ngIf="!(isHandset$ | async)">
            <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path"
               [routerLinkActiveOptions]="{exact: true}" routerLinkActive
               #rla="routerLinkActive" [active]="rla.isActive">
                {{link.label}}
            </a>
        </nav>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #userNav>
    <ng-template #noUser>
        <mat-spinner *ngIf="user === undefined" diameter="40" color="accent"></mat-spinner>
        <button mat-icon-button routerLink="/login" *ngIf="user === null">
            <mat-icon>vpn_key</mat-icon>
        </button>
    </ng-template>

    <ng-container *ngIf="user; else noUser">
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item routerLink="/user">Профайл</button>
            <button mat-menu-item (click)="logout()">Выход</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <img [src]="user.photo.links.squared_thumbnail_64 | safeResourceUrl" width="43px"
                 style="height: 40px; width: 40px; border-radius: 50%; flex-shrink: 0;">
        </button>
    </ng-container>
</ng-template>