<div *ngIf="teamCard" fxLayout="row" class="mat-elevation-z2">
    <img [src]="teamCard.photo.links.squared_thumbnail | safeResourceUrl"
         width="253px" style="max-height: 253px; max-width: 253px; flex-shrink: 0;"
         fxHide.xs="true">
    <div style="padding: 10px">
        <div fxLayout="row">
            <img [src]="teamCard.photo.links.squared_thumbnail_64 | safeResourceUrl"
                 width="64px" style="max-height: 64px; max-width: 64px; flex-shrink: 0; margin-right: 10px"
                 fxShow.xs="true" fxHide>
            <div>
                <div><b>{{teamCard.firstName}} {{teamCard.lastName}}</b></div>
                <div>{{teamCard.team}} {{teamCard.role}}</div>
            </div>
        </div>
        <div>
            <div *ngIf="teamCard.email">Email: {{teamCard.email}}</div>
            <app-phone [phone]="teamCard.phone"></app-phone>
        </div>
    </div>
</div>