<div *ngIf="teamCard" fxLayout="row">
    <img [src]="teamCard.photo.links.squared_thumbnail | safeResourceUrl"
         width="253px" style="max-height: 253px; max-width: 253px; flex-shrink: 0; object-fit: cover; margin-right: 16px"
         fxHide.xs="true" [fxHide]="small">
    <div>
        <div fxLayout="row">
            <img [src]="teamCard.photo.links.squared_thumbnail_64 | safeResourceUrl"
                 style="height: 40px; width: 40px; border-radius: 50%; flex-shrink: 0; object-fit: cover; margin-right: 16px"
                 fxShow.xs="true" [fxHide]="!small">
            <div>
                <div><b>{{teamCard.firstName}} {{teamCard.lastName}}</b></div>
                <div>{{teamCard.team}} {{teamCard.role}}</div>
            </div>
        </div>
        <div *ngIf="teamCard.email" style="margin-top: 16px;">Email: {{teamCard.email}}</div>
        <app-phone [phone]="teamCard.phone"></app-phone>
    </div>
</div>