<div>
    <p>Добавить фото из базы</p>
    <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex>
            <input matInput placeholder="Идентификатор" [(ngModel)]="tagFilter" name="tagFilter">
        </mat-form-field>
        <button mat-icon-button (click)="filter()">
            <mat-icon>filter_list</mat-icon>
        </button>
    </div>
</div>
<div fxLayout="row wrap" class="media-container" *ngIf="filteredMedia$ | async as filteredMedia">
    <button mat-button *ngFor="let media of filteredMedia" (click)="show(media)">
        <img [src]="media.links.squared_thumbnail_64 | safeResourceUrl" width="64px" height="64px">
    </button>
</div>